header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

 body{
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none
  unselectable="on"
  onselectstart="return false;" 
  onmousedown="return false;
 }


  .side-nav li>a {
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.side-nav li>a>i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: #ffffff;
}
.status {
  width: 9%;
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #FFF;
  align-content: center;
  padding-right: 10px;
  transition: all .575s;
  border: 1px solid rgba(0, 0, 0, 0.912);
  border-radius: 5px;
  margin: 6px;
}

.status.on {
  background: #2DDE98;
  text-shadow: 0 0 8px rgba(0,0,0,.4);
  border: 1px solid rgba(0, 0, 0, 0.912);
  border-radius: 5px;
}
.status.off {
  background: #ff6c5f;
  border: 1px solid rgba(0, 0, 0, 0.912);
  border-radius: 5px;
}