#text1 {
    background-color: #05686D;
    font-size: 24px;
    color: yellow;
	text-align: center;
    border-color: #05686D;
	
}

#text2 {
    background-color: #05686D;
    font-size: 24px;
    color: yellow;
	text-align: center;
    border-color: #05686D;
}
#text3 {
    background-color: #05686D;
    font-size: 24px;
    color: yellow;
	text-align: center;
    border-color: #05686D;
}
#text4 {
    background-color: #05686D;
    font-size: 24px;
    color: yellow;
	text-align: center;
    border-color: #05686D;
}
#text5 {
    background-color: #05686D;
    font-size: 24px;
    color: yellow;
	text-align: center;
    border-color: #05686D;
}
#text6 {
    background-color: #05686D;
    font-size: 24px;
    color: yellow;
	text-align: center;
    border-color: #05686D;
}
#text7 {
    background-color: #05686D;
    font-size: 24px;
    color: yellow;
	text-align: center;
    border-color: #05686D;
}